* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.contenaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.card {
  width: 320px;
  height: 160px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  color: black;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 10px;
  padding-right: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.card:hover {
  transform: translateY(-4px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 24px;
  border-radius: 14px;
  min-width: 50vh;
  position: relative;
  height: 50vh;
  color: black;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.btn-join {
  color: white;
  background-color: #38B000;
  width: 73px;
  height: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  font-weight: bold;
}

.slots-container {
  display: flex;
  gap: 5px;
}

.slot-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25  );
  background-color: #38B000;
}
.card h3 {
  flex: auto;
  align-self: flex-start;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.create-card-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


.create-card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.create-card-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
}

.create-card-form label {
  display: flex;
  flex-direction: column;
}

.create-card-form input,
.create-card-form select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.create-card-form button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.create-card-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
}

.create-card-form button[type="button"] {
  background-color: #f44336;
  color: white;
}

