.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background: black;
    position: fixed;
    width: 100%;
    height: 35px;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
}
.nav_bar button {
    background: transparent;
    border: none;
}

.nav_bar button:hover {
    border: none;
}