.video-container {
  position: relative; 
}

.video {
  width: 600px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.controls-container {
  position: absolute;
  top: 50%;             
  left: -60px;        
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.control-btn {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  border: black;
  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
}

.control-btn:hover {
  background: rgba(0,0,0,0.8);
}
